apiVersion: apps/v1
kind: Deployment
metadata:
  name: webserver
  namespace: t1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webserver
  template:
    metadata:
      labels:
        app: webserver
    spec:
      containers:
      - name: webserver
        image: martinsglucas/t1-alt-webserver:latest
        ports:
        - containerPort: 8000
        env:
        - name: CLIENT_HOST
          value: "alt-clientserver"
        - name: CLIENT_PORT
          value: "50051"
        - name: ACCOUNT_HOST
          value: "alt-accountserver"
        - name: ACCOUNT_PORT
          value: "50052"
        readinessProbe:
          httpGet:
            path: /docs
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: webserver-service
  namespace: t1
spec:
  selector:
    app: webserver
  ports:
  - port: 80
    targetPort: 8000
    nodePort: 30080
  type: NodePort