apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: stub-hpa-cpu
  namespace: t3
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: stub
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
